form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  row-gap: 1rem;
}

form > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

form > div > label {
  width: 100px;
}