header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 1rem 3rem;
  background: var(--dark-main);
  color: #fff;
}

ul {
  display: flex;
  column-gap: 5rem;
}

li {
  transition: 0.2s;
  
}

li:hover {
  transform: translateY(-2px);
  
}

a {
  color: #bababa;
}

a:hover {
  color: #fff;
}