:root {
  --dark-main: rgb(46, 47, 49);
  --dark-main-lighter: rgb(84, 87, 92);
  --light-gray: rgb(245, 246, 249);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

input:focus {
  outline: none;
}

.loading-message {
  text-align: center;
}
